{% extends "base.html" %}
{% block content %}
    <head>
    <style>
      #map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }
    </style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var gmap;
        function initialize() {
            var target = new google.maps.LatLng(51.54, -0.07);
            var myOptions = {
                zoom: 8,
                center: target,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gmap = new google.maps.Map(document.getElementById('map'),
                myOptions);
            point = new google.maps.Marker({
                position: target,
                map: gmap,
                title: 'Queensbridge Leisure Centre',
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    </head>

        <article id="main">
						<header>
							<h2>Your Search Results</h2>
						</header>
						<section class="wrapper style5">
							<div class="inner">

                            {% if bikeshops %}

                                <section id="one" class="wrapper style5">
                                    <div class="tabs">
                                            <ul class="tab-links">
                                                <li class="active"><a href="#list-view">List View</a></li>
                                                <li><a href="#map-view" onclick="initialize()">Map View</a></li>
                                                <li><a href="#filter">Filter</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="list-view" class="tab active">
                                                    {% for bikeshop in bikeshops %}
                                                    <div class="inner">
                                                        <header class="major">
                                                            <h2>{{ bikeshop.shop_name}}</h2>
                                                            <p>Address: {{ bikeshop.street_number}}, {{ bikeshop.street }}, {{ bikeshop.city }}, {{ bikeshop.post_code}}</p>
                                                            {% if bikeshop.rental_options %}
                                                            <p>This shop rents out:
                                                            {% for equipment in bikeshop.rental_options.all %}
                                                            {{ equipment.name }}
                                                            {% if not forloop.last %}, {% endif %}
                                                            {% endfor %}</p>
                                                            {% endif %}
                                                            <p>Distance to Bike Shop: {{ bikeshop.distance_to_search }} Km</p>
                                                            <a href="/redirect-to-bikeshop/{{ bikeshop.pk }}/" class="button special small">Go to bike shop wesbite</a>
                                                                <a href="/contact-bikeshop/{{ bikeshop.pk }}/" class="button special small">contact the bike shop</a>
                                                        </header>
                                                    </div>
                                                    <hr>
                                                    {% endfor %}
                                                </div>

                                                <div id="map-view" class="tab">
                                                    <div id="map" style="height: 450px; width: 450px; overflow: hidden"></div>

                                                </div>

                                                <div id="filter" class="tab">
                                                    <p>Filter by bike type</p>
                                                    <input type="text">
                                                </div>
                                            </div>
                                        </div>
                                <hr>
                                </section>
                                {% endif %}
							</div>
						</section>
					</article>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGlg8YhNcZJP-Pfd1WskAlHcbsjxUPncQ&signed_in=true&callback=initMap"></script>
  <body>



{%  endblock %}


