{% extends "base2.html" %}
    {% block title %}
        <title>Bicycle Rental {{ bikeshops.0.city }}</title>
        <meta name="description" content="Find bicycles to rent. Search by bicycle type and location. Rent bicycles worldwide" />
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
              center: new google.maps.LatLng({{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
              zoom: 14,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng( {{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
            map: map
            });

            {% for bikeshop in bikeshops %}

            var infowindow{{ bikeshop.pk }} = new google.maps.InfoWindow({
            content: "{{ bikeshop.content_string }}"
            });

            var marker{{ bikeshop.pk}} = new google.maps.Marker({
            position: {lat: {{ bikeshop.latitude }}, lng: {{ bikeshop.longitude }}},
            map: map,
            title: '{{ bikeshop.shop_name }}',
            icon: '/static/images/bike_marker.png'
            });

            marker{{ bikeshop.pk }}.addListener('click', function() {
            infowindow{{ bikeshop.pk }}.open(map, marker{{ bikeshop.pk }});
            });

            {%  endfor %}
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endblock %}


{% block content %}
    <div class="hidden-xs section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <div>
                  <h1>Bike Rental companies in London</h1>
              </div>
              <div>
                {% for shop in bikeshops %}
                <h2>{{ shop.shop_name}}</h2>
                <p>Address: {% if shop.street_number %}{{ shop.street_number}},{% endif %} {%if shop.street %}{{ shop.street }},{% endif %} {% if shop.city %} {{ shop.city }},{% endif %} {% if shop.post_code %} {{ shop.post_code}}{% endif %}</p>
                {% if shop.rental_options %}
                    <p>This shop rents out:</p>
                    <ul>
                        {% for equipment in shop.rental_options.all %}
                        <li>{{ equipment.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p>Distance to Bike Shop: {{ shop.distance_to_search }} Km</p>
                <a href="/shop-profile/{{ shop.pk }}/" class="btn btn-primary">Bike shop wesbite</a>
                {% endfor %}
              </div>
          </div>
          <div class="col-md-8" style="height: 600">
              <div id="map" style="width:auto;height:inherit; background: #cccccc"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm">
            <div class="btn-group">
              <a href="#" class="btn btn-default">List</a>
              <a href="#" class="btn btn-default">Map</a>
              <a href="#" class="btn btn-default">Filter</a>
            </div>
          </div>
        </div>
      </div>
    </div><div class="section"><div class="container hidden-lg hidden-md hidden-sm"><div class="row"><div class="col-md-12"><ul class="list-group"><li class="list-group-item">Cras justo odio</li><li class="list-group-item">Dapibus ac facilisis in</li><li class="list-group-item">Morbi leo risus</li><li class="list-group-item">Porta ac consectetur ac</li><li class="list-group-item">Vestibulum at eros</li></ul></div></div></div></div>
{% endblock %}
