{% extends "base2.html" %}
    {% block title %}
        <title>Bicycle Rental {% if bikeseach.city %}{{ bikesearch.city }}{% else %} worldwide {% endif %}</title>
        <meta name="description" content="Find bicycles to rent. Search by bicycle type and location. Rent bicycles worldwide" />
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
              center: new google.maps.LatLng({{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng( {{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
            map: map
            });

            {% for bikeshop in bikeshops %}

            var infowindow{{ bikeshop.pk }} = new google.maps.InfoWindow({
            content: "{{ bikeshop.content_string }}"
            });

            var marker{{ bikeshop.pk}} = new google.maps.Marker({
            position: {lat: {{ bikeshop.latitude }}, lng: {{ bikeshop.longitude }}},
            map: map,
            title: '{{ bikeshop.shop_name }}',
            icon: '/static/images/bike_marker.png'
            });

            marker{{ bikeshop.pk }}.addListener('click', function() {
            infowindow{{ bikeshop.pk }}.open(map, marker{{ bikeshop.pk }});
            });

            {%  endfor %}
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endblock %}


{% block content %}
     <div class="section" style="padding: 1px 0;">
      <div class="container">
        {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-dismissable alert-success" aria-label="close">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              {% if bikesearch.city %}
                <h3>Bike Shops {{ bikesearch.city }}</h3>
                {% else %}
                <h3>Your Results</h3>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
          <div class="col-md-6">
           <form class = "bs-example bs-example-form" role = "form" method="POST" action="/">{% csrf_token %}
                <div class = "input-group">
                   <input id="id_location" maxlength="225" name="location" type="text" class="form-control" required="true" style="background-color: inherit; color: #000000" placeholder="Search Again"/>
                   <span class = "input-group-btn">
                      <button class = "btn btn-primary" type = "submit">
                         Go!
                      </button>
                   </span>
                  <input id="id_street_number" maxlength="225" name="street_number" type="hidden" />
                  <input id="id_street" maxlength="225" name="street" type="hidden" />
                  <input id="id_post_code" maxlength="225" name="post_code" type="hidden" />
                  <input id="id_state" maxlength="225" name="state" type="hidden" />
                  <input id="id_city" maxlength="225" name="city" type="hidden" />
                  <input id="id_country" maxlength="225" name="country" type="hidden" />
                  <input id="id_latitude" name="latitude" type="hidden"/>
                  <input id="id_longitude" name="longitude" type="hidden" />
                  <input id="id_search_time" name="search_time" type="hidden" />
                </div>
           </form>
          </div>
          <div class="col-md-6">
            <select onchange="if (this.value) window.location.href=this.value" class="form-control">
                    <option value="?filter=filter">filter</option>
                {% for option in rental_options %}
                    <option value="?filter={{ option.slug }}">{{ option.name }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="section" style="padding: 1px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="height: 700">
                       <div id="map" style="width:inherit;height:inherit; background: #cccccc"></div>
                 </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

