{% extends "base.html" %}
{% block content %}
    <head>
      <style type="text/css">
          #map_canvas {display:none; width: inherit; height: 400px;}
      </style>
<script>
    function displayMap() {
            document.getElementById('map_canvas').style.display="block";
//                    initialize();
//                }
//    function initialize() {
            // create the m ap
            var myOptions = {
            zoom: 14,
            center: new google.maps.LatLng({{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng( {{ bikesearch.latitude }}, {{ bikesearch.longitude }}),
            map: map
            });

            {% for bikeshop in bikeshops %}

            var infowindow{{ bikeshop.pk }} = new google.maps.InfoWindow({
            content: "{{ bikeshop.content_string }}"
            });

            var marker{{ bikeshop.pk}} = new google.maps.Marker({
            position: {lat: {{ bikeshop.latitude }}, lng: {{ bikeshop.longitude }}},
            map: map,
            title: '{{ bikeshop.shop_name }}',
            icon: '/static/images/bike_marker.png'
            });

            marker{{ bikeshop.pk }}.addListener('click', function() {
            infowindow{{ bikeshop.pk }}.open(map, marker{{ bikeshop.pk }});
            });

            {%  endfor %}
            }
</script>
  
   
    </head>
        <article id="main">
						<header>
							<h2>Your Search Results</h2>
						</header>
						<section class="wrapper style5">
                            {% if bikeshops %}
                                <!--<section id="one" class="wrapper style5">-->
                                    <div class="tabs" style="width: 100%">
                                            <ul class="tab-links">
                                                <li><a href="#list-view">List View</a></li>
                                                <li><a href="#map-view" onclick="displayMap()">Map View</a></li>
                                                <li><a href="#filter">Filter</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="list-view" class="tab active">
                                                    <ul class="actions">
                                                    {% for bikeshop in bikeshops %}
                                                    <div class="inner" style="width: 100%">
                                                        <header class="major">
                                                            <h2>{{ bikeshop.shop_name}}</h2>
                                                            <p>Address: {{ bikeshop.street_number}}, {{ bikeshop.street }}, {{ bikeshop.city }}, {{ bikeshop.post_code}}</p>
                                                            {% if bikeshop.rental_options %}
                                                            <p>This shop rents out:
                                                            {% for equipment in bikeshop.rental_options.all %}
                                                            {{ equipment.name }}
                                                            {% if not forloop.last %}, {% endif %}
                                                            {% endfor %}</p>
                                                            {% endif %}
                                                            <p>Distance to Bike Shop: {{ bikeshop.distance_to_search }} Km</p>
                                                            <a href="/redirect-to-bikeshop/{{ bikeshop.pk }}/" class="button special small">Go to bike shop wesbite</a>
                                                            <a href="/contact-bikeshop/{{ bikeshop.pk }}/" class="button special small">contact the bike shop</a>
                                                        </header>
                                                    </div>
                                                    </ul>
                                                    <hr>
                                                    {% endfor %}
                                                </div>
                                                <div id="map-view" class="tab">
                                                    <div id="map_canvas"></div>
                                                </div>
                                                <div id="filter" class="tab">
                                                    <div>
                                                    <form method="get">
                                                        <select name="filter">
                                                            <option value="electric-bikes">Electric bikes</option>
                                                            <option value="scooters">Scooters</option>
                                                            <option value="cruiser-bikes">Cruiser bikes</option>
                                                            <option value="road-bikes">Road bikes</option>
                                                            <option value="mountain-bikes">Mountain bikes</option>
                                                        </select>
                                                        <br>
                                                        <input type="submit" value="Filter" />
                                                    </form>
                                                    </div>
                                                </div>
                                        </div>
                                <hr>
                                <!--</section>-->
                                {% endif %}
						</section>
					</article>
  <body>
{%  endblock %}
