
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
    <script>

function initMap() {
  var myLatLng = {lat: {{ bikesearch.latitude }}, lng: {{ bikesearch.longitude }}};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: {{ zoom }},
    center: myLatLng
  });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
    });

    {% for bikeshop in bikeshops %}
        var marker = new google.maps.Marker({
        position: {lat: {{ bikeshop.latitude }}, lng: {{ bikeshop.longitude }}},
        map: map,
        title: '{{ bikeshop.shop_name }}',
        icon: '/static/images/transparent.png'
        });
    {%  endfor %}
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGlg8YhNcZJP-Pfd1WskAlHcbsjxUPncQ&signed_in=true&callback=initMap"></script>
  <body>
    <div id="map"></div>
  </body>
</html>