{% extends "base2.html" %}
    {% block title %}
        <title>Bicycle Rental {{ bikeshops.0.city }}</title>
        <meta name="description" content="Find bicycles to rent. Search by bicycle type and location. Rent bicycles worldwide" />
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
              center: new google.maps.LatLng({{ bikeshop.latitude }}, {{ bikeshop.longitude }}),
              zoom: 14,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ bikeshop.latitude }}, {{ bikeshop.longitude }}),
            map: map
            });
          };
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <script>
        function checkDate() {
           var selectedText = document.getElementById('id_start_date').value;
           var selectedDate = new Date(selectedText);
           var now = new Date();
           if (selectedDate < now) {
            alert("Date must be in the future");
           }
         }
        </script>

    {% endblock %}

{% block content %}
    <div class="section">
      <div class="container">
      {% if messages %}
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-dismissable alert-info" style="font-size: 16">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-4">
            <h1>{{ bikeshop.shop_name }}</h1>
            <h3>Shop Equipment</h3>
            {% if bikeshop.rental_options %}
                 <p>This shop rents out:</p>
                 <ul>
                 {% for equipment in bikeshop.rental_options.all %}
                <li>{{ equipment.name }}</li>
               {% endfor %}
             </ul>
            {% endif %}
            <h3>Shop Details</h3>
            <ul>
              <li>Address: {% if bikeshop.street_number %}{{ bikeshop.street_number}},{% endif %} {%if bikeshop.street %}{{ bikeshop.street }},{% endif %} {% if bikeshop.city %} {{ bikeshop.city }},{% endif %} {% if bikeshop.post_code %} {{ bikeshop.post_code}}{% endif %}</li>
              {% if bikeshop.phone_number %}<li>Phone: {{ bikeshop.phone_number }}</li>{% endif %}
              {% if bikeshop.email %}<li>Email: {{ bikeshop.email }}</li>{% endif %}
              <!--{% if bikeshop.website %}<li>Website: <a href="/redirect-to-bikeshop/{{ bikeshop.pk }}">{{ bikeshop.website }}</a></li>{% endif %}-->
            </ul>
          <h3>Booking Request Form</h3>
          <form role="form" method="POST">{% csrf_token %}
              <div class="form-group">
                  <label for="id_email" class="control-label">Email:</label>
                  <input id="id_email" name="email" type="email" class="form-control" required="true"/>
              </div>
              <div class="form-group">
                  <label for="id_name" class="control-label">Name:</label>
                  <input id="id_name" maxlength="225" name="name" type="text" class="form-control" />
              </div>
              <div class="form-group">
                  <label for="id_start_date" class="control-label">Start date:</label>
                  <input id="id_start_date" name="start_date" type="date" onchange="checkDate()" class="form-control" required="true"/>
              </div>
              <div class="form-group">
                  <label for="id_number_of_days" class="control-label">Number of days:</label>
                  <input id="id_number_of_days" name="number_of_days" type="number" class="form-control" required="true" max="30" min="1"/>
              </div>
              <div class="form-group">
                  <label for="id_bike_type">Select type of bike:</label>
                  <select class="form-control" id="id_bike_type" name="bike_type">
                      {% for equipment in bikeshop.rental_options.all %}
                          <option value="{{ equipment.name }}"><p>{{ equipment.name }}</p></option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                  <label for="id_number_of_bikes" class="control-label">Number of bikes:</label>
                  <input id="id_number_of_bikes" name="number_of_bikes" type="number" class="form-control" required="true" max="50" min="1"/>
              </div>
              <div class="form-group">
                  <label for="id_message" class="control-label">Message:</label>
                  <!--<input id="id_message" name="message" type="text" class="form-control"/>-->
                  <textarea class="form-control custom-control" name="message" id="id_message" rows="5"
                  placeholder="Give the bike shop extra information that might help them process your request eg:
We need 2 small and 1 large cruiser bikes"></textarea>
              </div>
                <button type="submit" class="btn btn-primary">Send Booking Request</button>
              </form>
          </div>
          <div class="col-md-8">
            <div id="map" style="width:auto;height: 500px; background: #cccccc"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
{%  endblock %}