{% extends "base.html" %}

{% block content %}
    <form action="/sign-up/" method="post">
    <!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>YouVelo</h2>
							<p>Sign up your store and let the users that brows our website rent your bikes</p>
                            <a href="#one" class="button special">Sign up</a>
						</div>
					</section>

                    <section id="one" class="wrapper style2 special">
                            <div class="searchbox">
                                <form action="{{ submit_url }}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}<br>
                                <input type="submit" value="Submit" class="button special" />
                                </form>
                            </div>
                    </section>
{% endblock %}
